[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.10.3"
numpy = "==2.2.6"
yfinance = "==0.2.61"
pandas = "==2.2.3"

[dev-packages]

[requires]
python_version = "3.11"
